<p class="bg-success" style="padding: 20px;font-size: 16px;">Thank you<br>
You can now play with real money. Have fun, and good luck!
</p>
<div class="row">
  <div class="col-md-6">
	<button  type="submit" class="btn btn-block btn-info" onclick="location.href='http://www.casino.com/promotions/'">
	Play Now   <span class="glyphicon glyphicon-triangle-right">
	</button>
  </div>
  <div class="col-md-6">
	<button  type="submit" class="btn btn-block btn-warning" onclick="location.href='http://www.casino.com/promotions/'">
	 Promotions <span class="glyphicon glyphicon-bullhorn">
	</button>
  </div>
</div>