<p class="bg-success" style="padding: 20px;font-size: 16px;">You`re ready to play!<br>
In order to play with real money, you will need to provide more information. You can do so now if you wish, or skip and do it at a later time.
</p>

<div class="row">
  <div class="col-md-6">
	<button  type="submit" class="btn btn-block btn-info" onclick="location.href='#/step-three'">
	 Continue Registration  <span class="glyphicon glyphicon-circle-arrow-right">
	</button>
  </div>
  <div class="col-md-6">
	<button  type="submit" class="btn btn-block btn-warning" onclick="location.href='http://www.casino.com/'">
	 Skip  
	</button>
  </div>
</div>